
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">show picture</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">a picture</h4>
            </div>
            <div class="modal-body">
              <img class="img-rounded" src="/src/assets/images/1.jpg">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
            </div>
        </div>
    </div><!-- /.modal -->
</div>


